@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700'|Exo:100,200,300,400,500,600,700);
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body, html {
    height: 100%;
}

/*Background Image Desktop*/
@media only screen and (min-width: 768px) and (orientation: landscape) { 
        #home .bg-img {
        background-image: url("../assets/images/Wombat-DSC00549.jpg");
        height: 100vh; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) { 
        #home .bg-img {
        background-image: url("../assets/images/SunsetGulls-0843.jpg");
        height: 100vh; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}


@media only screen and (max-width: 767px) and (orientation: portrait) { 
         #home .bg-img {
            background-image: url("../assets/images/SunsetGulls-0843.jpg");
            height: 100vh; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) { 
        #home .bg-img {
        background-image: url("../assets/images/Wombat-DSC00549.jpg");
        height: 100vh; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}


.name {
    top:50%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "Exo", sans-serif;
    font-size: 30px;
}

.specs {
    top: 60%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "Exo", sans-serif;
    font-size: 20px;
}






/*navigation*/
    .navbar ul li a {
        color: #36454F;
        font-size: 10px;
        text-transform: uppercase;
        font-family: "Exo", sans-serif;
        transition: 0.5s ease-in-out;
        font-family: "Lato", sans-serif;
}




/*https://stackoverflow.com/questions/22385680/keeping-a-navbar-ul-horizontal-on-small-screens*/
.navbar ul li { 
    float: right;
    margin-top: -10px;
    margin-right: 10px;
}

.navbar-right {
    margin-top: 5px;
    margin-right: -5px;
    margin-left: -10px;
    transition: 0.5s ease-in-out;
}

.size {
    font-size: 10px;
}


.navbar ul li a:hover {
    color: #56656F;
    font-size: 17px;
    background-color: transparent;
}

.navbar-brand {
    padding: 0;
    margin-top: 5px;
    margin-left: 0px;
}


/*footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fafafa;
    font-family: "Exo", sans-serif;
    text-align: center;
}

.followme {
    font-size: 15px;
    padding-bottom: 20px;
}


.copyright-details {
    font-size: 8px;
    text-align: center;
    padding-top: 25px;
    
}

.cr-symbol {
     font-size: 10px;
 }

.social-links i {
    color: #fafafa;
    font-size: 40px;
    transition: 0.5s ease-in-out;
    padding: 0 25px;
}

.social-links i:hover {
    color: #fafafa;
    font-size: 50px;
    text-decoration: none;
}
 


/* Contact Page*/
@media only screen and (min-width: 768px) and (orientation: landscape) { 
        #contact .bg-img {
        background-image: url("../assets/images/FI8A7224-Edit.jpg");
        height: 100vh; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) { 
        #contact .bg-img {
        background-image: url("../assets/images/FI8A7224-Edit.jpg");
        height: 100vh; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

.contact {
    
    display: block;
    padding: 10px;
    border: 5px solid white;
    border-radius: 25px;
    text-align: center;
    
}

.callout {
    text-align: center;
    font-size: 40px;
    color: #FAFAFA;
    
   
}

.clickhere {
    text-align: center;
    font-size:40px;
    color: #FAFAFA;
    
    
}

#contact footer  {
    position: absolute;
    bottom: 0;
    margin-left: 50px;
    width: 100%;
    color: #fafafa;
    font-family: "Exo", sans-serif;
    text-align: center;
}

/* GALLERY */


.thumb {
    padding: 15px 15px;
}

.filter {
    width: 100%;
    text-align: center;
}

.imageL {
    display: none;
    padding: 15px;
    max-width:100%;
    height: auto;
}

.remove {
    text-align: right;
    text-align: top;
}

.fullScreen {
    
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.close {
    display: none;
    position: absolute;
    margin-left: 95%;
    margin-top: 75px;
    color: white;
    opacity: 1.0;
}

.chevrons {
   margin-top: 21%;
   color: white;
   opacity: 1.0;
    
}
.glyphicon-chevron-left {
    margin-left: 2%;
    margin-right: 94%;
}

